<nav class='navbar navbar-expand navbar-light bg-light'>
  <a class='navbar-brand'>{{pageTitle}}</a>
  <ul class='nav nav-pills'>
    <li><a class='nav-link' routerLink='/home'>Home</a></li>
    <li><a class='nav-link' routerLink='/apod'>Apod</a></li>
    <li><a class='nav-link' routerLink='/insight-weather'>Mars Weather (Insight)</a></li>
    <li><a class='nav-link' routerLink='/curiosity'>Mars Weather (Curiosity)</a></li>
  </ul>
</nav>
<div class='container'>
  <router-outlet></router-outlet>
</div>
